<html>
<head>
#compiler-settings
cheetahVarStartToken = @
#end compiler-settings
<title>Cybercommons task results</title>
<link type="text/css" href="http://static.cybercommons.org/css/cybercomui/jquery-ui-1.8.13.custom.css" rel="Stylesheet"/>
<link rel=stylesheet href="http://test.cybercommons.org/flora/bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="screen, print">
<link rel=stylesheet href="http://test.cybercommons.org/flora/bootstrap/css/bootstrap.min.css" type="text/css" media="screen, print">
<link rel=stylesheet href="http://static.cybercommons.org/css/bootstrap/css/cybercommons.css" type="text/css" media="screen, print">
<script type="text/javascript" src="http://static.cybercommons.org/js/simpleCart.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery-ui-1.8.10.custom.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery.cookie.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery.simplemodal.1.4.4.min.js"></script>
<script type="text/javascript" src="/static/portal/cctasks.js"></script>
<script type="text/javascript" src="/static/portal/task_request.js"></script>
<style>
    BODY{font-family:sans-serif; }
    #vright{valign:top; align:right}    
</style>
<script>
    var data_item;
   $(document).ready(function(){
        simpleCart.bind( "beforeAdd" , function( item ){
            // return false if the item is in the cart,
            // so it won't be added again
            simpleCart.load();
            return !simpleCart.has(item);
        });
    });
</script>
</head>
<body>
    <div class="ui-widget-header ui-corner-all span10" style="padding:2px;indent:2px;">OCC DATA - @site ( @location )</div>
        <table class="span10" border="1">
            <tr><td valign="top" align="left">&nbsp;<strong>Site Name</strong></td><td colspan="2" class="span6"><!--@available['Location_id']--></td></tr>
            <tr><td valign="top" align="left">&nbsp;<strong>Site ID</strong></td><td colspan="2">@available['Location_id']</td></tr>
            <tr><td valign="top" align="leftt">&nbsp;<strong>Organization</strong></td><td colspan="2">OCC</td></tr>

                <tr ><td colspan="3">
                            <div>
                                <div class="simpleCart_shelfItem"><br>
                                    <span style="display:none;" class="item_name">OCC </span>
                                    <span style="display:none;" class="item_parameter">Site ID: @available['Location_id']</span>
                                    <span style="display:none;" class="item_query">{'source':'OCC','webservice_type':'@available['Location_id']','sites':'@available['Location_id']','site_no':'@available['Location_id']','parameterCd':'','startDT':'needtofix','endDT':'needtofix'}</span>
                                    
				    <br>&nbsp;Data Cart:&nbsp;<a class="item_add" href="javascript:;">Add @available['Location_id']</a>
                                </div>
                            </div>
		</td></tr>
<tr><td>@availdata['parameter']</td></tr>
        </table>
</body>
</html>
