<html>
<head>
#compiler-settings
cheetahVarStartToken = @
#end compiler-settings
<title>Cybercommons task results</title>
<link type="text/css" href="http://static.cybercommons.org/css/cybercomui/jquery-ui-1.8.13.custom.css" rel="Stylesheet"/>
<link rel=stylesheet href="http://test.cybercommons.org/flora/bootstrap/css/bootstrap-responsive.min.css" type="text/css" media="screen, print">
<link rel=stylesheet href="http://test.cybercommons.org/flora/bootstrap/css/bootstrap.min.css" type="text/css" media="screen, print">
<link rel=stylesheet href="http://static.cybercommons.org/css/bootstrap/css/cybercommons.css" type="text/css" media="screen, print">
<script type="text/javascript" src="http://static.cybercommons.org/js/simpleCart.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery-ui-1.8.10.custom.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery.cookie.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery.simplemodal.1.4.4.min.js"></script>
<script type="text/javascript" src="/static/portal/cctasks.js"></script>
<script type="text/javascript" src="/static/portal/task_request.js"></script>
<style>
    BODY{font-family:sans-serif; }
    #vright{valign:top; align:right}    
</style>
<script>
   $(document).ready(function(){
        simpleCart.bind( "beforeAdd" , function( item ){
            // return false if the item is in the cart,
            // so it won't be added again
            simpleCart.load();
            return !simpleCart.has(item);
        });
    });
    function popup_water(url){
        $.modal('<img style="-webkit-user-select: none" src="' + url + '" height="420" width="598" style="border:0">', {
            closeHTML:"",
            containerCss:{
                backgroundColor:"#fff",
                borderColor:"#fff",
                height:422,
                padding:0,
                width:600
            },
            overlayClose:true
        });

    }
</script>
</head>
<body>
    <div class="ui-widget-header ui-corner-all span10" style="padding:2px;indent:2px;">Available Data - @site ( @location )</div>
    <div class="accordion span10" id="accordion">
        <div class="accordion-group">
            #for @grp in @groups
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#_@grp['code']" style="color:#08C;"> @grp['name'] </a>
              </div>
              <div id="_@grp['code']" class="accordion-body collapse">
                <table class="span9" border="1">
                #for @ad in @available
                    #if @grp['code'] == @ad['data_type_cd']
                        #if @ad['data_type_cd']=='qw' and @ad['parameter']['name']==''
                            <tr><td valign="top" align="left"><strong>Download all @grp['name']</strong></td>
                            <td class="span2">@ad['begin_date']</td><td class="span2">@ad['end_date']</td>
                            <td class="span1"></td></tr>
                        #else
                            #if @ad['parameter']['name']==''
                            <tr><td valign="top" align="left"><strong>Download all @grp['name']</strong></td>
                            <td class="span2">@ad['begin_date']</td><td class="span2">@ad['end_date']</td>
                            <td class="span1">@ad['count_nu']</td></tr>
                            #else
                            <tr><td valign="top" align="left"><strong>@ad['parameter']['name']</strong></td>
                            <td class="span2">@ad['begin_date']</td><td class="span2">@ad['end_date']</td>
                            <td class="span1">@ad['count_nu']</td></tr>
                            #end if
                        #end if
                        #if @ad['data_type_cd']=='ad'
                            <tr ><td colspan="4">Data Reports:
                            #for @u in @grp['years']:
                                 <a style="color:blue;" href="@grp['webdata'][@u]" target="_blank">@u</a>
                            #end for
                            <div class="simpleCart_shelfItem">
                                <span style="display:none;" class="item_name">@site (@ad['site_no'])</span>
                                <span style="display:none;" class="item_parameter">@ad['parameter']['name']</span>
                                <span style="display:none;" class="item_query">{'source':'USGS','webservice_type':'@ad['data_type_cd']','sites':'@ad['site_no']','parameterCd':'@ad['parm_cd']','startDT':'@ad['begin_date']','endDT':'@ad['end_date']','special':@grp['webdata_encode']}</span>
                               <br>&nbsp;Data Cart: <a class="item_add" href="javascript:;">Add</a>
                            </div> 
                            </td></tr>
                        #else
                        <tr ><td colspan="4">
                            <div>
                                &nbsp;Data Source: <a href="@grp['webdata']" target="_blank">USGS</a>&nbsp;&nbsp;
                                #if @ad['data_type_cd']=='iv' or @ad['data_type_cd']=='uv' or @ad['data_type_cd']=='rt'
                                &nbsp;&nbsp;&nbsp;&nbsp;Graph:<a onclick="popup_water('http://waterdata.usgs.gov/nwisweb/graph?site_no=@ad['site_no']&parm_cd=@ad['parm_cd']&period=7')" 
                                        href="javascript:void(0);"> Preview </a>
                                #end if
                                <div class="simpleCart_shelfItem">
                                    <span style="display:none;" class="item_name">@site (@ad['site_no'])</span>
                                    <span style="display:none;" class="item_parameter">@ad['parameter']['name']</span>
                                    #if @ad['data_type_cd']=='pk'
                                        <span style="display:none;" class="item_query">{'source':'USGS','webservice_type':'@ad['data_type_cd']','sites':'@ad['site_no']','site_no':'@ad['site_no']','parameterCd':'@ad['parm_cd']','startDT':'@ad['begin_date']','endDT':'@ad['end_date']'}</span>
                                    #else if @ad['data_type_cd']=='sv'
                                        <span style="display:none;" class="item_query">{'source':'USGS','webservice_type':'@ad['data_type_cd']','sites':'@ad['site_no']','site_no':'@ad['site_no']','parameterCd':'@ad['parm_cd']','startDT':'@ad['begin_date']','endDT':'@ad['end_date']','format':'rdb_expanded'}</span>
                                    #else if @ad['data_type_cd']=='qw'
                                        <span style="display:none;" class="item_query">{'source':'USGS','webservice_type':'@ad['data_type_cd']','sites':'@ad['site_no']','siteid':'USGS-@ad['site_no']','pCode':'@ad['parm_cd']','parameterCd':'@ad['parm_cd']','mimeType':'tab'}</span>
                                    #else
                                        <span style="display:none;" class="item_query">{'source':'USGS','webservice_type':'@ad['data_type_cd']','sites':'@ad['site_no']','parameterCd':'@ad['parm_cd']','startDT':'@ad['begin_date']','endDT':'@ad['end_date']'}</span>
                                    #end if
                                    #if @ad['data_type_cd']!='aw'
                                    <br>&nbsp;Data Cart: <a class="item_add" href="javascript:;">Add</a>
                                    #end if
                                </div>
                            </div>
                            

                        </td></tr>
                        #end if
                    #end if
                #end for
                </table>
              </div>
            #end for
        </div>
    </div>
</body>
</html>
